<p><%= ask.creatorName %></p>
    <% if ask.ask then %>
        <span class="conjunction">wants</span>
        <p><%= ask.description.nil? or ask.description.empty? ? "?" : ask.description %></p>
        <% unless ask.location.nil? or ask.location.empty? %>
            <span class="conjunction">from</span><p><%= ask.location %></p>
        <% end %>
    <% else %>
        <span class="conjunction">is going to</span>
        <p><%= ask.location.nil? or ask.location.empty? ? "?" : ask.location %></p>
        <% unless ask.timespan.nil? or ask.timespan.empty? %>
            <span class="conjunction">in</span><p><%= ask.timespan %></p>
        <% end %>
    <% end %>
</p>

<% if $state[ask.state] == :pending and ask.creatorId != session[:dwolla_id] %>
    <% if ask.ask %>
    <form action="/ask/<%= ask._id %>/promise" method="POST"></form>
    <% else %>
        <button class="action disabled">Pick me up a</button>
    <% end %>
<% elsif $state[ask.state] == :promised and ask.responderId == session[:dwolla_id] %>
    <button class="action">Here you go</button>
    <form action="/ask/<%= ask._id %>/fulfill" method="POST" class="dropdown">
        <p>Came to</p>
        <input type="text" name="amount" placeholder="(amount)">
        <p>all told.</p>
        <p class="fineprint">You'll get paid back immediately plus <%= ask.creatorName %> will kick in an extra $1 for being so cool.</p>
        <button type="submit">OK!</button>
    </form>
<% elsif $state[ask.state] == :fulfilled and ask.creatorId == session[:dwolla_id] %>
    <button class="action finish-send" data-url="https://www.dwolla.com/send?request=<%= ask.transactionId %>">Thanks!</button>
<% else %>
    <!-- noop -->
<% end %>





