<p><%= ask.creatorName %>
    <% if ask.ask then %>
        <span class="conjunction">wants</span>
        <%= ask.description.nil? or ask.description.empty? ? "?" : ask.description %>
        <% unless ask.location.nil? or ask.location.empty? %>
            <span class="conjunction">from</span><%= ask.location %>
        <% end %>
    <% else %>
        <span class="conjunction">is going to</span>
        <%= ask.location.nil? or ask.location.empty? ? "?" : ask.location %>
        <% unless ask.timespan.nil? or ask.timespan.empty? %>
            <span class="conjunction">in</span><%= ask.timespan %>
        <% end %>
    <% end %>
</p>

<% if $state[ask.state] == :pending %>
    <form action="/ask/<%= ask._id %>/promise" method="POST"><button class="action">I got it</button></form>
<% elsif $state[ask.state] == :promised %>
    <button class="action">Here you go</button>
    <form action="" method="POST" class="dropdown">
        <p>Came to</p>
        <input type="text" name="amount" placeholder="(amount)">
        <p>all told.</p>
        <p class="fineprint">You'll get paid back immediately plus [fname] will kick in an extra $1 for being so cool.</p>
        <button type="submit">OK!</button>
    </form>
<% elsif $state[ask.state] == :fulfilled %>
    <button class="action">Thanks!</button>
<% else %>
    <!-- noop -->
<% end %>





